.detailInfo {
  width: 70%;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.img {
  width: 60%;
  margin: 0 auto;
}

.lnfoBox {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-size: 16px;
}

.info {
  font-size: 12px;
  margin: 0px;
}

.btn {
  width: fit-content;
  border-bottom: 2px solid;
  margin: 0 auto;
}

.btn:hover {
  color: var(--point-color);
  border-bottom: 2px solid var(--point-color);
}