.detailInfo {
  width: 70%;
  margin: 0 auto;
  padding: 24px 0;
}

.lnfoBox {
  text-align: center;
  width: 100%;
}

.btn {
  width: fit-content;
  border-bottom: 2px solid;
  margin: 0 auto;
}

.btn:hover {
  color: var(--point-color);
  border-bottom: 2px solid var(--point-color);
}