.detailInfo {
  width: 100%;
  background-image: url(../../assets/images/food.png);
  margin: 0 auto;
}

.wrap {
  width: 50%;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.img {
  width: 60%;
  margin: 0 auto;
}

.lnfoBox {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.name {
  font-size: 16px;
}

.info {
  font-size: 12px;
  margin: 0px;
}

.btn {
  width: fit-content;
  border-bottom: 2px solid;
  margin: 0 auto;
  cursor: pointer;
}

.btn:hover {
  color: #aa4eeb;
  border-bottom: 2px solid #aa4eeb;
}

@media (min-width: 768px) {
  .wrap {
    width: 40%;
  }
  
  .btn {
    width: 14rem;
    width: fit-content;
  }
}

@media (min-width: 1920px) {


  .infoBox {
    gap: 16px;
  }

  .name {
    font-size: 40px;
  }

  .info {
    font-size: 32px;
  }

  .btn {
    font-size: 2rem;
  }

  .img {
    padding: 40px 0;
  }
}