.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #662F8D;
  margin: 0;
}

.nav {
  display: none; 
  flex-direction: column;
  position: absolute;
  top: 85px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding: 24px;
}

.nav.show {
  display: flex;
}

.menuIcon {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.bar {
  width: 24px;
  height: 2.5px;
  background-color: #333;
  border-radius: 2px;
}

.navItem {
  font-size: 24px;
  font-weight: 600;
}

@media (min-width: 768px) {
  .navigation {
    padding: 30px;
  }
  .nav {
    display: flex;
    flex-direction: row;    
    position: static;  
    padding: 0;
    width: auto;
    gap: 17px;
    justify-content: space-between;
  }

  .navItem {
    margin: 0;
  }

  .menuIcon {
    display: none ;
  }

}