.ramen {
  width: 100%;
}

.wrap {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 0.75rem;
  margin: 0 auto;
  justify-content: center;
}

.item {
  border: 2px solid var(--text-color02);
  border-radius: 10px;
  width: 120px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.img {
  width: 80%;
  min-height: 100px;
  object-fit: cover;
  margin: 0 auto;
}

.name {
  font-size: 14px;
}

@media (min-width: 390px) {
  .item {
    width: 10.5rem;
  }
}
