.homeContainer {
  width: 100%;
  background: var(--background-color);
}

.wrap {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 24px;
}

.backgroundImg {
  width: 100%;
  min-height: 8.5rem;
  background: linear-gradient(to bottom right, #FFF4B8, #FFF2B6, #FFEFA5);
  display: flex;
  align-items: center;
  padding: 40px 20px;
  flex-direction: row;
  padding: 0 16px;
  margin: 0 auto;
  border-radius: 10px;
}

img {
  height: auto;
  display: block;
  object-fit: contain;
}

.img {
  flex: 0 0 128px;
  height: auto;
  line-height: 1.2;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  flex: 1;
  font-size: 1.3rem;
  color: var(--text-color);
  font-weight: bold;
  line-height: 1.2;
}

.title {
  font-size: 1rem;
}

.bestPick {
  width: 100%;
  margin: 0 auto;
  /* display: flex;
  flex-wrap: wrap; */
}

.bestPickWrap {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

@media (min-width: 390px) {
  .img {
    flex: 0 0 140px;
  }
  .text {
    font-size: 1.5rem;
  }
  .title {
    text-align: center;
    font-size: 1.5rem;
  }
  .bestPick {
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .wrap {
    width: 95%;
  }

  .bestPickContainer {
    padding-top: 120px;
  }
  
  .title {
    font-size: 44px;
  }

  .backgroundImg {
    padding:0  48px ;
  }

  .bestPickWrap {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .bestPick {
    padding-top: 40px;
  }

  .text {
    font-size: 48px;
  }

  .img {
    flex: 0 0 270px;
  }
}