.header {
  width: 90%;
  margin: 0 auto;
  flex-direction: row;
  gap: 8px;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
}

.textBox {
  width: auto;
}

.title {
  font-size: 32px;
  line-height: 1;
}

.text {
  font-size: 11px;
  color: var(--text-color02);
}

.img {
  width: 80px;
}

@media (min-width: 768px) {
  .header {
    align-items: center;
    padding: 32px 0 150px;
    width: 100%;
    gap: 0;
  }

  .br {
    display: none;
  }

  .textBox {
    flex: 1;
  }

  .title {
    font-size: 100px;
  }

  .text {
    font-size: 16px;
  }

  .img {
    width: 150px;
  }
}