.btn {
  border: 2px solid var(--text-color02);
  border-radius: 10px;
  width: 100%;
  min-height: 12.375rem;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid #aa4eeb;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 16px;
}

.btn:nth-child(1) .img  {
  width: 60%;
}

.img {
  width: 80%;
  height: 110px;
  object-fit: cover;
  margin: 0 auto;
}

.name {
  font-size: 14px;
}

@media (min-width: 390px) {
  .btn {
    width: 10.5rem;
  }

  .img {
    height: 143px;
  }
}

@media (min-width: 768px) {
  .btn {
    width: 14.5rem;
    height: 17rem;
  }

  .img {
    height: 210px;
  }

  .name {
    margin: 0;
    font-size: 20px;
  }

}