.snack {
  width: 100%;
}

.wrap {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  font-size: 0.75rem;
  margin: 0 auto;
  justify-content: center;
  padding: 40px 0;
}

.item {
  border: 2px solid var(--text-color02);
  border-radius: 10px;
  width: 8.625rem;
  min-height: 12.375rem;
  padding: 0.5rem;
  cursor: pointer;
}

.item:hover {
  border: 2px solid #aa4eeb;
}

.name {
  font-size: 14px;
}

.img {
  height: auto;
  width: 100%;
  min-height: 110px;
  object-fit: cover;
  margin: 0 auto;
}


.item:nth-child(1) .img,
.item:nth-child(7) .img,
.item:nth-child(9) .img {
  width: 90%;
}

.item:nth-child(8) .img,
.item:nth-child(1) .img {
  width: 70%;
}

@media (min-width: 390px) {
  .item {
    width: 10.5rem;
  }

  .img {
    height: 143px;
  }
}

@media (min-width: 768px) {
  .wrap {
    grid-template-columns: repeat(4, 1fr);
  }
}


@media (min-width: 1920px) {
  .wrap {
    grid-template-columns: repeat(5, 1fr);
  }

  .item {
    width: 335px;
    height: 335px;
  }
  .name {
    font-size: 24px;
  }

  .img {
    width: 80%;
    height: 75%;
  }


  .item:nth-child(8) .img {
  width: 60%;
}

  .item:nth-child(7) .img {
    width: 75%;
  }

.item:nth-child(9) .img {
  width: 80%;
}
}
